In [2]:
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
import pandas as pd
import numpy as np
import plotly.express as px
from scipy import stats

In [3]:
file_path = r'C:/Users/mayda/Downloads/diff.csv'
df = pd.read_csv(file_path)
df.drop(columns=df.columns[0], axis=1, inplace=True)
df['cp'] = [0 if x >= 30002 else 1 for x in df['stud_id']] # cp=1: 追蹤樣本
df

,stud_id,diff1,diff2,diff3,diff4,diff5,diff6,diff7,diff8,diff9,...,diff13,diff14,diff15,diff16,diff17,diff18,diff19,diff20,diff21,cp
0,2,0.0,1.0,2.0,0.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,3,0.0,0.0,2.0,1.0,2.0,1.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,4,0.0,1.0,2.0,1.0,0.0,0.0,3.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,10,0.0,NaN,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,12,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20131,50128,1.0,1.0,2.0,2.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,1.0,0
20132,50131,1.0,0.0,0.0,2.0,1.0,0.0,1.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
20133,50132,3.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0
20134,50134,2.0,0.0,3.0,2.0,1.0,0.0,0.0,1.0,0.0,...,1.0,2.0,1.0,2.0,1.0,1.0,0.0,0.0,2.0,0
20135,50135,2.0,3.0,1.0,1.0,1.0,0.0,1.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [4]:
m = df.cp==1
old_df=df[m] # 追蹤樣本
new_df=df[~m] # 新樣本

In [8]:
old_df = old_df.drop(old_df.columns[[13, 14, 15, 16, 17, 18, 19, 20, 21, 22]], axis=1)
old_df['stud_id'] = old_df['stud_id'].astype(str)

old_df['diff_avg'] = old_df.loc[:, old_df.columns!='stud_id'].mean(axis=1).round(4)
old_df = old_df.drop(4255, 4260) # 這一列全部是NaN
old_df

,stud_id,diff1,diff2,diff3,diff4,diff5,diff6,diff7,diff8,diff9,diff10,diff11,diff12,diff_avg
0,2,0.0,1.0,2.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.6667
1,3,0.0,0.0,2.0,1.0,2.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0,0.6000
2,4,0.0,1.0,2.0,1.0,0.0,0.0,3.0,2.0,1.0,0.0,0.0,0.0,0.8333
3,10,0.0,NaN,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1818
4,12,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.3333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4254,20025,1.0,2.0,2.0,1.0,0.0,0.0,1.0,NaN,1.0,0.0,0.0,0.0,0.7273
4256,20031,1.0,1.0,2.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.4545
4257,20033,0.0,0.0,1.0,0.0,1.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.4167
4258,20040,1.0,0.0,1.0,0.0,0.0,0.0,3.0,2.0,1.0,0.0,0.0,0.0,0.6667
4259,20045,0.0,1.0,1.0,2.0,2.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.8333

##### 依照分數分群

In [9]:
old_df['diff_avg'].describe()

count    4170.000000
mean        0.771217
std         0.412712
min         0.000000
25%         0.500000
50%         0.666700
75%         0.916700
max         4.000000
Name: diff_avg, dtype: float64

In [10]:
quantile_20 = old_df['diff_avg'].quantile(0.20)
quantile_80 = old_df['diff_avg'].quantile(0.80)

# Create the 'knowwell' and 'knowpoor' columns
old_df['knowwell'] = (old_df['diff_avg'] <= quantile_20).astype(int)
old_df['knowpoor'] = (old_df['diff_avg'] >= quantile_80).astype(int)

In [11]:
old_df

,stud_id,diff1,diff2,diff3,diff4,diff5,diff6,diff7,diff8,diff9,diff10,diff11,diff12,diff_avg,knowwell,knowpoor
0,2,0.0,1.0,2.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.6667,0,0
1,3,0.0,0.0,2.0,1.0,2.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0,0.6000,0,0
2,4,0.0,1.0,2.0,1.0,0.0,0.0,3.0,2.0,1.0,0.0,0.0,0.0,0.8333,0,0
3,10,0.0,NaN,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1818,1,0
4,12,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.3333,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4254,20025,1.0,2.0,2.0,1.0,0.0,0.0,1.0,NaN,1.0,0.0,0.0,0.0,0.7273,0,0
4256,20031,1.0,1.0,2.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.4545,1,0
4257,20033,0.0,0.0,1.0,0.0,1.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.4167,1,0
4258,20040,1.0,0.0,1.0,0.0,0.0,0.0,3.0,2.0,1.0,0.0,0.0,0.0,0.6667,0,0
4259,20045,0.0,1.0,1.0,2.0,2.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.8333,0,0